.settings-indicator-section-1 {
  width: 900px;
}

.active-indicator {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}
.delete-indicator {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}
.image-indicator {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.uploaded-indicator-images {
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.uploaded-indicator-images img {
  position: absolute;
  max-width: 400px;
  height: auto;
}
