.audit-indicator-images {
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.audit-indicator-modal {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: center;
}

.audit-indicator-images img {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  max-width: 400px;
  height: auto;
}
.audit-indicator-upload {
  text-align: center;
}
.audit-list-section-2 {
  width: 200px;
  position: absolute;
  display: inline;
  top: 0px;
  right: 0px;
}
.audit-list-section-1 {
  width: 600px;
}

.audit-list-section {
  width: 100%;
}
.company-dropdown-select {
  display: inline-block !important;
}
.audit-area-dropdown {
    display: inline-block !important;
}
